mixin video(video)
  a.video-mixin(href=`/videos/${video._id}`)
    .video-mixin__thumb
    .video-mixin__data
      span.video-mixin__title= video.title
      .video-mixin__meta
        span #{ video.owner.name } •&nbsp;
        span #{ video.meta.views }회
